header {
    /* background: transparent; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}
body {
    background-image: url(../img/albumPhoto/sheep/album_01.png);
    background-size: 120% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.img-icon {
    margin: 3%;
}
.my-logo {
    position: relative;
    /* top: -120px; */
}
.my-album-body {
    background: #1b232b;
    opacity: .9;
    padding: 8%;
    margin-right: 5%;
    margin-left: 5%;
    font-family: "PT Serif",serif;
    font-size: 70%;
    line-height: 2em;     /* 行距 */
    letter-spacing: .3em;   /* 字距 */
    color: #cdcdcd;
}
hr {
    width: 10%;
    border-top: 1px solid #1b232b;
    margin-top: 40px;
    margin-bottom: 40px;
}
.album-img {
    height: 160px;
    width: auto;
    opacity: 1 !important;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    border:0.4px solid #cdcdcd;
}

.album-text {
    font-family: "PT Serif",serif;
    font-size: 70%;
    line-height: 2em;     /* 行距 */
    letter-spacing: .3em;   /* 字距 */
    color: #1b232b69;
}

/* .album-img2 {
    opacity: 0.7;
    height: 160px;
} */
.my-album-body2 {
    background: #1b232b;
    opacity: .9;
    padding: 8%;
    margin-right: 5%;
    margin-left: 5%;
    font-family: "PT Serif",serif;
    font-size: 70%;
    line-height: 2em;     /* 行距 */
    letter-spacing: .3em;   /* 字距 */
    color: #cdcdcd;
}
.my-album-body3 {
    background: #1b232b;
    opacity: .9;
    padding: 8%;
    margin-right: 5%;
    margin-left: 5%;
    font-family: "PT Serif",serif;
    font-size: 70%;
    line-height: 2em;     /* 行距 */
    letter-spacing: .3em;   /* 字距 */
    color: #cdcdcd;
}


/* PULSATING CARET */
[data-typer]:after {
    content:"";
    display: inline-block;
    vertical-align: middle;
    width:3px;
    height:1em;
    font-family: "PT Serif",serif;
    font-size: 70%;
    line-height: 2em;     /* 行距 */
    letter-spacing: .3em;   /* 字距 */
    background:#cdcdcd;
            animation: caretPulsate 3s linear infinite; 
    -webkit-animation: caretPulsate 2s linear infinite; 
  }
  @keyframes caretPulsate {
    0%   {opacity:1;}
    50%  {opacity:1;}
    60%  {opacity:0;}
    100% {opacity:0;}
  }
  @-webkit-keyframes caretPulsate {
    0%   {opacity:1;}
    50%  {opacity:1;}
    60%  {opacity:0;}
    100% {opacity:0;}
  }